body {
  background-color: #fff;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.next-icon {
  display: inline-block;
  line-height: 0;
  text-align: center;
  vertical-align: -0.25em;
}

.next-icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
}

.next-icon.next-medium {
  font-size: 20px;
}

.next-badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.next-badge.center {
  text-align: center;
}

.next-btn {
  position: relative;
  display: inline-block;
  box-shadow: none;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  white-space: nowrap;
  vertical-align: middle;
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
  user-select: none;
  cursor: pointer;
}

.next-btn.next-medium {
  border-radius: 4px;
  padding: 0 15px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  border-width: 1px;
  min-width: 68px;
}

.next-btn.next-btn-normal {
  border-style: solid;
  background-color: transparent;
  border-color: #ccecff;
  border-color: var(--bright-brand, #ccecff);
}

.next-btn.next-btn-normal,
.next-btn.next-btn-normal.visited,
.next-btn.next-btn-normal:link,
.next-btn.next-btn-normal:visited {
  color: #1b9aee;
  color: var(--primary-brand, #1b9aee);
}

.next-btn.next-btn-primary {
  border-style: solid;
  background-color: #1b9aee;
  background-color: var(--primary-brand, #1b9aee);
  border-color: transparent;
}

.next-btn.next-btn-primary,
.next-btn.next-btn-primary.visited,
.next-btn.next-btn-primary:link,
.next-btn.next-btn-primary:visited {
  color: #fff;
}

.next-btn.next-btn-normal.hover,
.next-btn.next-btn-normal:hover {
  color: #1b9aee;
  color: var(--primary-brand, #1b9aee);
  background-color: #f2fbff;
  background-color: var(--highlight-brand, #f2fbff);
  border-color: #ccecff;
  border-color: var(--bright-brand, #ccecff);
  text-decoration: none;
}

.next-btn.next-btn-primary.hover,
.next-btn.next-btn-primary:hover {
  color: #fff;
  background-color: #0171c2;
  background-color: var(--hover-brand, #0171c2);
  border-color: transparent;
  text-decoration: none;
}